* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#ebebeb;
    font-family: 'Roboto', sans-serif;
    color: #312f2f;
    font-size: 12px;
    
}
nav{
    background-color: #EAC926;

}

.hambur{
    background-color: #03264C;
    color: aliceblue;
    font-size: 20px;
    padding: 6px;
    border-radius: 12%;
}
#titulares{
    font-size: 20px;
    margin-bottom: 10px;
}
#precio{
    font-size:18px ;
    
}
#descuento{
    font-size:14px;
    color: #39b54a;
}
#descripcion{
    font-size: 16px;
    margin-top: 15px;
}
footer{
    background-color: white;
    text-align: center;
    font-size: 12px;
}
/*
.tarjeta{
    color: #03264C;
    line-height: 15px;
    font-size: 1cm;
}

.tienda{
    color:#03264C ;
    line-height: 10px;
    font-size: 1cm;
}
.seguridad{
    color: #03264C;
    line-height: 20px;
    font-size: 1cm;
}
*/
.compra{
    text-align: center;
    font-size:12px;
} 
main{
    width: 100%;
    
}
.articulo{
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
    padding: 15px;
   
}
.producto{
    background-color: white;
   
}
main .banner{
    width: 100%;

}
main .banner img{
    width: 100%;
    
}
.parte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.listas{
    display: flex;
    justify-content: space-between;
}
.listas ul{
    
    display: flex;
    justify-content: flex-start;

}
.listas ul li{
    padding: 10px;
}

.parte .logo{
    width: 33%;
}
.seccion{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    flex-wrap: wrap;
}
.tarjeta {
    width: 33%;
}

.seguridad{
    width: 33%;
}
.tienda{
    width: 33%;
}

@media (max-width:500px) {
    .listas{
        display: none;
    }
    .parte .logo{
        width: 50%;
    }
    .parte .input{
        width: 50%;
    }
  
}