<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto</title>
</head>
<body>
    <h1>un cambio</h1>
    <p> llllllllllllllllllllllllllllllllllllllll</p>

    <img src="" alt="spiderman">

    <ol>
        <li>dgg</li>
        <li>ghhh</li>
        <li>vghh</li>
    </ol>
    <ul>
        <li>122</li>
        <li>rfrfrf</li>
        <li>ftgtg</li>
    </ul>

    <a href="./contacto.html">contacto</a>
    

    
</body>
</html>