<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/home.css">
    <title>Mercado Liebre</title>
    
</head>
<body>
    <header>
        <nav>
            <div class="encabezado">
               <div class="logo"><img src="./img/logo-mercado-liebre.svg" alt="logo" ></div>
               <div class="buscar"><form action="" method="get">
                <input type="text" 
                name=""
                id=""
                placeholder="Buscar productos, marcas"
                />
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
               </div>

            <div class="compra">
                <span><i class="fa-solid fa-hand-holding-dollar"></i></span>
                <span>Comprá en cuotas y sin tarjeta de crédito </span>
            </div>

            </div>

           
            <div class="listas">
            <ul type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li ><a href="#">Ayuda</a></li> 
            </ul>
            </br>
            <ul type="none">
                <li><a href="/registro">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>

            </ul>
           </div>

            <div style="text-align: center;">
                <button class="hambur"><i class="fa-solid fa-bars"></i></button>
                
            </div>
            
            
        </nav>
    </header>

    <main>
        <div class="banner"><img src="./img/img-home-banner.jpg" alt="banner" ></div>
        <section>
            <h2 id="titulares">Basado en tu última visita</h2>
            <div class="seccion">
            <div class="articulo">
                <img src="./img/img-cafetera-moulinex.jpg" alt="cafetera" width="200px">
                
                <div class="producto">
                    <div class="delivery"><i class="fas fa-truck"></i></div>

                <p id="precio">$6.770</p>
                <p id="descuento">40% OFF</p>
                <p id="descripcion">Cafetera Moulinex</p>
                </div>
            </div>
            <div class="articulo">
                <img src="./img/img-macbook-pro-2019.jpg" alt="macbook" width="200px">
                <div class="producto">
                    <div class="delivery"><i class="fas fa-truck"></i></div>

                <p id="precio">$230.000</p>
                <p id="descuento">20% OFF</p>
                <p id="descripcion">MacBook Pro 2019</p>
                </div>
            </div>
            <div class="articulo">
                <img src="./img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy" width="200px">
                <div class="producto">
                    <div class="delivery"><i class="fas fa-truck"></i></div>

                <p id="precio">$70.500</p>
                <p id="descuento">10% OFF</p>
                <p id="descripcion">Samsung Galaxy S10</p>
                </div>
            </div>
            <div class="articulo">
                <img src="./img/img-tv-samsung-smart.jpg" alt="smart tv" width="200px">
                <div class="producto">
                    <div class="delivery"><i class="fas fa-truck"></i></div>

                <p id="precio">$23.200</p>
                <p id="descuento">5% OFF</p>
                <p id="descripcion">SmartTv Samsung 43</p>
                </div>
            </div>
            </div>
        </section>
        <section>
            <h2 id="titulares">Ofertas</h2>
            <div class="seccion">
            <div class="articulo">
                <img src="./img/img-cafetera-moulinex.jpg" alt="cafetera" width="200px">
                <div class="producto">
                    <div class="delivery"><i class="fas fa-truck"></i></div>
                
                    <div class="info">
                    <p id="precio">$6.770</p>
                    <p id="descuento">40% OFF</p>
                    </div>
                    <p id="descripcion">Cafetera Moulinex</p>
                </div>
            </div>
            <div class="articulo">
                <img src="./img/img-macbook-pro-2019.jpg" alt="macbook" width="200px">
                <div class="producto">
                    <div class="delivery"><i class="fas fa-truck"></i></div>

                <p id="precio">$230.000</p>
                <p id="descuento">20% OFF</p>
                <p id="descripcion">MacBook Pro 2019</p>
                </div>
            </div>
            <div class="articulo">
                <img src="./img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy" width="200px">
                <div class="producto">
                    <div class="delivery"><i class="fas fa-truck"></i></div>

                <p id="precio">$70.500</p>
                <p id="descuento">10% OFF</p>
                <p id="descripcion"> Samsung Galaxy S10</p>
                </div>
            </div>
            <div class="articulo">
                <img src="./img/img-tv-samsung-smart.jpg" alt="smart tv" width="200px">
                <div class="producto">
                    <div class="delivery"><i class="fas fa-truck"></i></div>

                <p id="precio">$23.200</p>
                <p id="descuento">5% OFF</p>
                <p id="descripcion">SmartTv Samsung 43</p>
                </div>
            </div>
            </div> 
        </section>

    </main>

    <footer>
        <div class="footer">
        <div class="tarjeta"><i class="fa-solid fa-credit-card"></i>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="tarjeta"><i class="fas fa-gift"></i>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="tarjeta"><i class="fa-solid fa-user-shield"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
        </div>
        
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>


    
</body>
</html>